.external/**
hydrosphere_ref.pdf
node_modules/**
*.vsix
.gitignore
.vscode/**
docs/**
example/**
scripts/**
src/**
test/**
.vscode-test/**
out/**
dist/**
coverage/**
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
Thumbs.db
